<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Codabene!</title>
  </head>
  <body>

    {% load static %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark shadow" >
        <a class="navbar-brand text-white" >APPLICATION CODALYNE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                choices
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="search">Search a product with her GTIN</a>
                <a class="dropdown-item" href="add">New product</a>
                <a class="dropdown-item" href="search_product_dop">Search with the DOP</a>



                <div class="dropdown-divider"></div>
              </div>
            </li>
          </ul>
          </div></nav>
          <br><br><br>
          <h1 style="text-align:center">Application CodaLyne</h1>
          <div style="width: 1900px; padding-top: 150px; padding-bottom: 150px; border: 30px solid #808080; text-align: center; background: #C0C0C0;border-radius: 50px;"><strong>Madame Monsieur, Bienvenue a vous.
            Cette applicatiopn CodaLyne a pour but d'afficher des produits avec leurs dates de peremption,. Vous avez  meme la possibilité d'ajouter des produits en choisissant le add product dans choices,
          elle peut  meme vous afficher a un instant T les produits qui vont atteindre leurs dates de peremption, mais aussi afficher les produit avec leurs date de peremption juste avec le GTIN,
        et enfin vous avez le droit de modifier la date de peremption d'un produit grace a l'Update.</strong></div>
          <br><br><br>
    {% block content %}
    
    {% endblock %}

    
  
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>

</html>